.windsurfrules
.windsurf/workflows
*windsurf/*
.windsurf/workflows/n8n-manager-shell-script-project-knowledge.md
.github/workflows/job-logs.txt
.github/test/workflows
#test.logs
n8n-cli-commands-doc.md
ENHANCEMENTS.md
# test.logs
# test.logs
test.logs
